/* GENERAL STYLES */

body {
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  line-height: 1.5;
  color: #333;
}

/* TEXT STYLES */

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.3rem;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

/* WRAPPER STYLES */

.wrapper {
  width: 90%;
  text-align: center;
  margin: 0 auto; 
  padding-top: 4rem;
}

h1, h2 {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .wrapper {
    background: rgba(255, 255, 255, .3);
    padding-top: 0;
    border: 1px solid black;
    border-radius: 10px;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.3rem;
  }
}